PROJECT_NAME=docstring-linter
PYTESTPATH=/workspaces/docstring-linter/tests
PYTHONPATH=/workspaces/docstring-linter/src
ROOT_WORKSPACE_DIRECTORY=/workspaces/docstring-linter
UV_LINK_MODE=copy
UV_PROJECT_ENVIRONMENT=/workspaces/docstring-linter/.venv
WORKSPACE_DIRECTORY=/workspaces/docstring-linter/src/linter_docstring
